---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

# Pointers and references
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<firebird/'
    Priority: 1
  - Regex: '^<(ttmath|decimal)/'
    Priority: 2
  - Regex: '^<nlohmann/'
    Priority: 3
  - Regex: '^<spdlog/'
    Priority: 4
  - Regex: '^<(gtest|gmock)/'
    Priority: 5
  - Regex: '^<'
    Priority: 6
  - Regex: '^"fbpp/'
    Priority: 7
  - Regex: '^"'
    Priority: 8

# Misc
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpaceAfterTemplateKeyword: true
Standard: c++20
